.form {
    display:flex;
    flex-direction: column;
    margin-top:20px;
}

.label {
    margin-top:10px;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.inputText {
    border-radius: 10px;
    height:40px;
    padding:10px;
    border: 1px solid var(--card);
}

.submitButton {
    margin-top: 20px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
    height:40px;
    padding:10px;
    border: 1px solid var(--card);
    background-color: var(--income);
}

.switchDiv{
    margin-top:20px;
}