.newTransactionButton{
    border-radius: 10px;
    border: 1px solid var(--income);
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: var(--income);
    background-color: var(--income);
    font-weight: 700;
    transition: 0.2s;
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}

.newTransactionButton:hover {
    border-color: var(--income);
    color: white;
    background-color: var(--income);
    cursor:pointer;

}

.dialogOverlay {
    width: 100vw; /* Equivalente a w-screen no Tailwind */
    height: 100vh; /* Equivalente a h-screen no Tailwind */
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta com opacidade 80%, equivalente a bg-black/80 no Tailwind */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.dialog {
    position: absolute;
    padding: 2.5rem 2.5rem; /* Equivalente a p-10 no Tailwind */
    background-color: var(--card); /* Cor correspondente a bg-zinc-900 no Tailwind */
    border-radius: 1rem; /* Equivalente a rounded-2xl no Tailwind */
    width: 100%;
    max-width: 28rem; /* Equivalente a max-w-md no Tailwind */
    color:black;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
}