.container {
    padding:10px;
    width: 100%;
    margin-left:auto;
    margin-right:auto;
    margin-top:20px;
    overflow:scroll;
    overflow-x: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.listItemRectangle {
    width: 100%;
    height: 45px;
    background-color: var(--cardColor);
    display:flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: space-between;
    margin-bottom: 8px;
    cursor:pointer;
}

.listItemRectangle:hover .deleteBtn {
    opacity: 1;
  }

.titleDiv {
    margin-top:auto;
    margin-bottom:auto;
    width:70%;
    display:flex;
    flex-wrap: wrap;
    /* background-color: antiquewhite; */
}

.dateAndAmountDiv {
    /* background-color:aqua; */
    display:flex;
    justify-content: center;
    align-items:flex-end;
    flex-direction: column;
    width: 30%;
}

.title {
    text-align: left;
    margin-left:15px;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* background-color: #11B00E; */
    word-wrap: break-word;
    flex: 0 0 100%;
}

.data{
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* background-color: purple; */
    margin-right:10px;
}

.minus {
    margin-right:10px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--expenseColor)
    /* background-color: black; */
}

.plus {
    margin-right:10px;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--incomeColor)
}

.deleteBtn {
    cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  /* top: 50%; */
  /* left: 40px; */
  transform: translate(40%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}
