.container {
    padding:10px;
    width: 100%;
    height: 50vh;
    margin-top:20px;
    overflow:auto;
    overflow-x: hidden;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.listItemRectangle {
    width: 100%;
    height: 45px;
    background-color: var(--card);
    display:flex;
    flex-direction: row;
    border-radius: 10px;
    justify-content: space-between;
    margin-bottom: 8px;
    cursor:pointer;
}

.listItemRectangle:hover .deleteBtn {
    opacity: 1;
  }

.titleDiv {
    margin-top:auto;
    margin-bottom:auto;
    width:50%;
    max-width: 100%;
}

.dateAndAmountDiv {
    /* background-color:aqua; */
    display:flex;
    justify-content: center;
    align-items:flex-end;
    flex-direction: column;
    width: 50%;
}

.title {
    text-align: start;
    margin-left:10px;
    color: #000;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* background-color: #11B00E; */
    word-wrap: break-word;
    /* flex: 0 0 100%; */
}

.data{
    color: #000;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* background-color: purple; */
    margin-right:10px;
}

.minus {
    margin-right:10px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--expense)
    /* background-color: black; */
}

.plus {
    margin-right:10px;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    color: var(--income)
}

.dialogOverlay {
    width: 100vw; /* Equivalente a w-screen no Tailwind */
    height: 100vh; /* Equivalente a h-screen no Tailwind */
    background-color: rgba(0, 0, 0, 0.5); /* Cor preta com opacidade 80%, equivalente a bg-black/80 no Tailwind */
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

.dialog {
    position: absolute;
    padding: 2.5rem 2.5rem; /* Equivalente a p-10 no Tailwind */
    background-color: var(--card); /* Cor correspondente a bg-zinc-900 no Tailwind */
    border-radius: 1rem; /* Equivalente a rounded-2xl no Tailwind */
    width: 100%;
    max-width: 28rem; /* Equivalente a max-w-md no Tailwind */
    color:black;
    top: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
}
